<!DOCTYPE html>
<html>
    <head>
        <title>Team Sports World - Register</title>
        <meta charset="UTF-8">
        <meta name="description" content="Team Sports World -" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/source/jquery.fancybox.css" type="text/css" media="screen" />
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/register.css">
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="css/source/jquery.fancybox.pack.js"></script>
        <script type="text/javascript" src="js/register.js"></script>
        <script type="text/javascript" src="js/validation.js"></script>
    </head>
    <body>
        <header>
            <div id="header">
                <figure>
                    <img src="images/logo-teamsport.png" />
                </figure>
                <!-- FORMULARIO DE INICIO DE SESION -->
                <div id="iniciar_sesion">
                    <div id="inicio_sesion">
                        <div class="email">
                            <input id="email" type="email" name="email" placeholder="Email" />
                        </div>
                        <div class="password">
                            <input id="password" type="password" name="password" placeholder="Password" />
                        </div>
                        <div class="submit">
                            <input class="mybtn" type="submit" name="enviar" value="Log in" />
                        </div>
                        <a class="various" data-fancybox-type="iframe" href="reset-password.html">Forgot password?</a>
                        <div id="errorMsg"></div>
                    </div>
                </div>
            </div>
        </header>
        
        <section id="contenedor_ppal">
            <section id="contenido_ppal" class="registro-2">
                <div id="informacion_registro">
                    <div id="title">Please complete register</div>
                    <div id="subtitle">The more info we have, the more effective the platform!</div>
                    <div id="pasos">
                        <div class="pasos paso-1"><img src="images/1.png" /></div>
                        <div class="pasos paso-1"><img src="images/2-active.png" /></div>
                        <div class="pasos paso-1"><img src="images/3.png" /></div>
                    </div>
                </div>
                <div id="formulario-registro" class="formulario-2">
                    <div class="title-register">Sport info</div>
                    <!-- FORMULARIO PASO 1 -->
                    <form id="form-register-2" action="" method="post">
                        <div id="height-weight">
                            <div class="height">
                                <input type="text" name="height" placeholder="Height" />
                            </div>
                            <select id="weight">
                                <option value="">Weight</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div id="right-left-leg">
                            <div class="right-leg">
                                <input type="text" name="right-leg" placeholder="Right leg length" />
                            </div>
                            <div class="left-leg">
                                <input type="text" name="left-leg" placeholder="Left leg length" />
                            </div>
                        </div>
                        <div id="right-left-arm">
                            <div class="right-arm">
                                <input type="text" name="right-arm" placeholder="Right arm length" />
                            </div>
                            <div class="left-arm">
                                <input type="text" name="left-arm" placeholder="Left arm length" />
                            </div>
                        </div>
                        <div id="practice-category">
                            <div class="practice">
                                <span class="practice-title">I practice tennis since:</span>
                                <select id="weight">
                                    <option value="">Year</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                            <div class="category">
                                <span class="category-title">Category:</span>
                                <select id="category">
                                    <option value="">Select one</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                            </div>
                        </div>
                        <div id="iam">
                            <div class="title iam-title">I am:</div>
                            <div class="iam-options">
                                <div class="iam iam-option-1"><input name="iam" id="iam1" type="radio" value="1" /><span class="iam-1">Right-handed</span></div>
                                <div class="iam iam-option-2"><input name="iam" id="iam2" type="radio" value="2" /><span class="iam-2">Left-handed</span></div>
                                <div class="iam iam-option-3"><input name="iam" id="iam3" type="radio" value="3" /><span class="iam-3">Ambidextros</span></div>
                            </div>
                        </div>
                        <div id="more-info">
                            <div class="more-info">Do you want to provide more info about your career, sponsors or other areas? <a href="#">Yes, I do. Show me more</a>. <span class="extra-info">(You can provide this info later)</span></div>
                        </div>
                        <div class="back-register">
                            <input type="button" onclick="history.back();" name="back" value="Go Back" />
                        </div>
                        <div class="submit-register">
                            <input type="submit" name="save" value="Save and continue" />
                        </div>
                    </form>
                </div>
                
                <div id="info-formulario">
                    <div id="info-img"><img src="images/info.png" /></div>
                    <div id="info-description">Team Sport stores your profile info for you so that we can show you graphics and statistics to help you to track your sport evolution. <a href="#">Learn more.</a></div>
                </div>
            </section>
        </section>
        
        <footer>
            <div id="footer">
                <div id="copyright_footer">
                    <p>2014 - Team Sport World</p>
                </div>
                <div id="menu_footer">
                    <ul>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
