<!DOCTYPE html>
<html>
    <head>
        <title>Team Sports World - Reset Password</title>
        <meta charset="UTF-8">
        <meta name="description" content="Team Sports World" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="js/reset-password.js"></script>
        <link rel="stylesheet" href="css/general.css">
        <link rel="stylesheet" href="css/reset-password.css">
    <body id="reset-pass">
        <section id="reset-password">
            <div class="reset-password">
                <div id="title-reset">Reset password</div>
                <div class="email">
                    <input id="email" type="email" name="email" placeholder="Enter email" />
                </div>
                <div class="submit">
                    <input class="mybtn" type="submit" name="enviar" value="Reset" />
                </div>
                <div id="errorMsg"></div>
            </div>
        </section>
    </body>
</html>
